<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mini-project</display-name>
  <welcome-file-list>
<welcome-file>regpage.html</welcome-file>

</welcome-file-list>
<servlet-mapping>
<servlet-name>FirstServ</servlet-name>

<url-pattern>/regform</url-pattern>
</servlet-mapping>
<servlet>

<servlet-name>FirstServ</servlet-name>
<servlet-class>regcode</servlet-class> </servlet>


<servlet-mapping>
<servlet-name>Serv</servlet-name>

<url-pattern>/ln</url-pattern>
</servlet-mapping>
<servlet>

<servlet-name>Serv</servlet-name>
<servlet-class>verifycode</servlet-class> </servlet>


  

</web-app>